body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0 auto;
	padding: 0;
  }
  .swiper-container {
	width: 35%;
	height: auto;
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
  
  }
  .swiper-container .swiper-slide {
	height: 500px;
	line-height: 500px;
  }
  /* .swiper-container .swiper-slide:nth-child(2n) {
	height: 500px;
	line-height: 500px;
  } */